<div id="container">
	<header>
    <%= image_tag("logo.png") %>
    <h1>MetaLab Employee Directory</h1>
  </header>
	<% @users.each do |user| %>
  		<%= render partial: "user", locals: { user: user } %>
	<% end %>
</div>