@import "compass/reset";
@import "compass/css3";

body {
	background: #333;
}

#wrapper {
	width: 1020px;
	margin: 50px auto;
}

header {
	color: #fff;
	margin-bottom: 30px;
	font: {
		family: 'Open Sans';
		weight: bold;
		size: 22px;
	}
	
}
