@import "compass";
@import "compass/reset";
@import "compass/css3";


//==============================================================================
// Base
//==============================================================================

body {
  font-family: "Proxima Nova", "Open Sans", "Helvetica Neue", "Helvetica", "Lucida Grande", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  background: #f4f4f4;
	color: #333;
}

header {
	margin-bottom: 30px;
	font: {

		weight: bold;
		size: 22px;
	}	
}

#wrapper {
	width: 1020px;
	margin: 50px auto;
	padding: 20px;
	padding-bottom: 0;
	@include clearfix();
}

//==============================================================================
// Card
//==============================================================================

.card {
  background: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	margin: 0 auto;
  width: 500px;
  height: 150px;
  float: left;
  position: relative;
	margin-bottom: 20px;

	&:nth-child(odd) {
		margin-left: 20px;
	}

  .avatar {
    height: 100px;
    width: 100px;
    float: left;
  }

  .details {
    float: left;
    padding: 20px;
    width: 360px;
    height: 60px;
    background: #eee;

    p {
      margin: 0;
      padding: 0;
    }
  }

  .status {
    position: absolute;
    top: 20px;
    left: 20px;
  }
}
