@import "compass";
@import "compass/reset";
@import "compass/css3";


//==============================================================================
// Base
//==============================================================================

body {
  font-family: "Proxima Nova", "Open Sans", "Helvetica Neue", "Helvetica", "Lucida Grande", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  background: url("bg.png");
	color: #333;
  -webkit-font-smoothing: antialiased;
}

header {
  text-align: center;
  margin: 0 0 50px 0;
  h1 {
    color: #fff;
    font: {
      weight: bold;
      size: 22px;
    }
    padding: 20px 0 0 0;
    @include text-shadow(0 1px 1px #000);
  }
}

#wrapper {
	width: 1040px;
	margin: 20px auto;
	padding: 20px;
	padding-bottom: 0;
	@include clearfix();
}

//==============================================================================
// Variables
//==============================================================================

$online-green: #83d837;

//==============================================================================
// Card
//==============================================================================

.card {
  background: #222;
  box-shadow: 0 1px 5px rgba(0,0,0,0.5);
	margin: 0 auto;
  width: 500px;
  height: 150px;
  float: left;
  position: relative;
	margin-bottom: 20px;
  margin-right: 20px;
  overflow: hidden;
  @include border-radius(5px);

	.avatar {
    overflow: hidden;
    height: 100px;
    width: 100px;
    float: left;
    border-bottom: 1px solid rgba(255,255,255,0.04);
    @include border-radius(5px 0 0 0);
    img {
      height: 100px;
      width: 100px;
      position: relative;
    }
  }

  .details {
    float: left;
    padding: 20px;
    width: 360px;
    height: 60px;
    border-bottom: 1px solid rgba(255,255,255,0.04);
    @include box-shadow(inset 0 1px 0 rgba(255,255,255,0.08));
    @include filter-gradient(#222426, #000000, vertical);
    @include background-image(linear-gradient(top,  rgba(34,36,38,1) 0%,rgba(0,0,0,1) 100%));

    p {
      &.name {
        font-size: 18px;
        font-weight: 600;
        padding: 0 0 5px 15px;
        position: relative;
        color: #fff;
        .email {
          text-decoration: none;
          font-weight: normal;
          padding-left: 5px;
          font-size: 14px;
          a {
            color: #666;
            text-decoration: none;
          }
        }
      }
      &.info, &.hours {
        font-size: 14px;
        color: #666;
        font-weight: bold;
        padding-left: 15px;
      }
    }
  }

  .status {
    @include border-radius(100px);
    width: 8px;
    height: 8px;
    font-size: 0;
    text-indent: -9999px;
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 0;
    background: #444;
  }

  .location {

    .location-updated-at {
      display: block;
      clear: both;
      line-height: 50px;
      text-align: left;
      text-indent: 20px;
      font-size: 14px;
      color: #999;
      font-weight: 600;
      text-shadow: 0 -1px 0 rgba(0,0,0,0.8);
    }

    .user-map {
      width: 100%;
      height: 170px;
      overflow: hidden;
      @include border-radius(5px);
    }

  }

  &.card-with-map {
    height: 320px;
  }

  &.online {
    .status {
      background: $online-green;
    }
  }
}
